body {background-color:black;font-family:arial;color:white}

/* For main content */
.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin:auto;
}

/* Add extra paddign for content wrt title and footer */
.contentdiv {
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Heading is grey */
h1 {
    color:grey;
    font-family:verdana;
}
