body {background-color:black;font-family:arial;color:white}

.maindiv {
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin:auto;
}

.contentdiv {
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    color:grey;
    font-family:verdana;
}